.main {
    flex-grow: 1;
    width: 100%;
    font-family: Verdana, sans-serif;
    margin-bottom: 0;
    padding: 1rem;
}

.garage {
    display: block;
}

.garage.hide {
    display: none;
}

.winners.hide {
    display: none;
}

.winners {
    display: block;
}